{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.babashka/sci {:mvn/version "0.2.8"}
        zen-lang/zen {:git/url "https://github.com/zen-lang/zen"
                      :sha "e9408617f55c71b859017de32d091a0080b286a6"}}
 :aliases
 {:nrepl {:main-opts ["-m" "nrepl.cmdline"
                      "--middleware"
                      "[cider.nrepl/cider-middleware]"]
          :extra-deps  {cider/cider-nrepl {:mvn/version "LATEST"}}}
  :test {:extra-paths ["test" "lib/example" "lib/auth"]
         :extra-deps {healthsamurai/matcho {:mvn/version "0.3.8"}
                      hashp/hashp {:mvn/version "0.2.1"}}}
  :build {:extra-paths ["build"]
          :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
          :extra-deps {cambada/cambada {:git/url "https://github.com/HealthSamurai/cambada"
                         :sha     "a8ccf922e516e3249e96ae63dadd91d5f01e83f5"}}
          :main-opts  ["-m" "build"]}}}
